<div class="mt-5 mb-5 p-4">
  
    <div id="wishlist">
      
        <div class="cart">
            <div class="header p-1" id="headerwishlist">   
                <h3>WishList</h3>
            </div>
            <div>
                <div class="row p-4">
                    <div class="col-lg-2">
                       <img src="element.image" class="img-fluid">
                    </div>
                    <div class="col-lg-7">
                        <p>element.name</p>
                        <p>Dilevery by teamorrow</p>
                        <p>element.seller</p>
    
                    </div>
                    <div class="col-lg-3 text-center">
                        <p>EgY5560</p>
                        <div >
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                        
                        <button class="btn btn-warning mt-4">Express</button>
    
                    </div>
    
                </div>
              
                
            </div>
      
      </div>
    
    </div>
    
</div>
