     <div class="row">
       
            <div class="order p-4" id="order">
                <h1>{{'userorder.order'|translate}}</h1>
                <p>{{'userorder.descrip'|translate}}</p>

                <div class="cart mt-4 p-4"  *ngFor="let item of orderList">
                    <div>
                        <div class="row">
                            <p>{{item.id}} <time>{{item.date}}</time></p>
                            <div class="col-lg-2 col-md-2" col-sm-2>
                             <img src="{{item.image}}" class="img-fluid">
                               
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <p>{{item.name}}</p>
                                <p style="color:green;">{{'userorder.Dileveried'|translate}}</p>
                               
                            </div>
                            <button class="btn btn-outline-primary mt-4 mb-4" style="width:250px;">{{'userorder.Review'|translate}}</button>

                        </div>
                      
                        
                    </div>
                    
                </div>
            
                
            </div>

      
     </div>
            

        
