<div class="row">
    <div class=" col-3 divAddress me-2" >
    

        <div class="row headaddress ">
            <div class="">
              <h4>PrimaryAddress</h4>
           </div>
          
       </div>
              
       
       <div class="cart p-1">
                <div class="row">
                   
                     <div class="col-12">
                         <div class="row">
                            <div class="col-12">
                                <h4>Home  <i class="fa fa-address-book" aria-hidden="true"></i></h4>
                            </div>
                         </div>
                       
                         <div class="row">
                            <div class="col-4">
                                <h4>Name</h4>
                            </div>
                            <div class="col-8">
                        
                                <p>Kero sadki</p>
                            </div>
                        </div>
                         
                        <div class="row">
                            <div class="col-4">
                                <h4>Address</h4>
                            </div>
                            <div class="col-8">
                        
                         
                                <p>Assuit</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-4">
                                <h4>PhoneNumber</h4>
                            </div>
                            <div class="col-8">
                        
                                <p>01002345595</p>
                            </div>
                        </div>
                        
                       

                     </div>
                      
                    
                    
                 
                   
                </div>
          </div>

     </div> 
          <!--=========================-->

             <!--=========================-->
             <div class="cart col-3 divAddress me-2 p-2">
                
                <div class="row">
                   
                     <div class="col-12">
                         <div class="row">
                            <div class="col-4">
                                <h4>Home <i class="fa fa-address-book" aria-hidden="true"></i></h4>
                            </div>
                         </div>
                       
                         <div class="row">
                            <div class="col-4">
                                <h4>Name</h4>
                            </div>
                            <div class="col-8">
                        
                                <p>Kero sadki</p>
                            </div>
                        </div>
                         
                        <div class="row">
                            <div class="col-4">
                                <h4>Address</h4>
                            </div>
                            <div class="col-8">
                        
                                <p>Assuit</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-4">
                                <h4>PhoneNumber</h4>
                            </div>
                            <div class="col-8">
                        
                                <p>01002345595</p>
                            </div>
                        </div>
                        
                       

                     </div>
                      
                    
                    
                 
                   
                </div>
          </div>   
          <div class="cart col-3 divAddress me-2 p-2">
                
            <div class="row">
               
                 <div class="col-12">
                     <div class="row">
                        <div class="col-4">
                            <h4>Home <i class="fa fa-address-book" aria-hidden="true"></i></h4>
                        </div>
                     </div>
                   
                     <div class="row">
                        <div class="col-4">
                            <h4>Name</h4>
                        </div>
                        <div class="col-8">
                    
                            <p>Kero sadki</p>
                        </div>
                    </div>
                     
                    <div class="row">
                        <div class="col-4">
                            <h4>Address</h4>
                        </div>
                        <div class="col-8">
                    
                           01002345595
                            <p>Assuit</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-4">
                            <h4>PhoneNumber</h4>
                        </div>
                        <div class="col-8">
                    
                            <p>01002345595</p>
                        </div>
                    </div>
                    
                   

                 </div>
                  
                
                
             
               
            </div>
      </div>
  <div class="col-11 mt-5 mb-5">
    <a routerLink="payment" ><button class="btn btn-primary float-end " style="width: 200px;" > Continue</button></a>  

  </div>

</div>
