<!-- <app-home-header></app-home-header> -->
<app-home-header (SearchTextCganged)="onSearchTextEnterd($event)"></app-home-header>
<div class="container-fluid">

<div class="container-fluid overflow-hidden" id="ProductList">

  <div class="row">
    <a
      class="product-card ms-4"
      *ngFor="let prd of Products |paginate:{itemsPerPage:productSize,currentPage:page,totalItems:count}; let i=index"
      [routerLink]="['/egypt-en', prd?.skuString, prd?.skuId ,'p']" >
 
    <div  *ngIf="SreachText  =='' || prd.name.toLowerCase().includes(SreachText)
    || prd.quantity.toString().includes(SreachText) ||prd.description.toLowerCase().includes(SreachText)">
      <div class="product-tumb">
        <img src="{{prd?.imageThumb}}" />
      </div>

      <div class="product-details">
        <h5>{{prd?.name}}</h5>

        <p>{{prd?.description}}</p>

        <div class="">
          <div class="product-bottom-details">
            <ng-container *ngIf="prd.discount==0;  else NoDicount">
              <span class="mb-5 fw-bold">
                {{prd.price | currency: "EGP ":"symbol"}}
              </span>
            </ng-container>

            <ng-template #NoDicount>
              <span class="fw-bold">
                {{prd.price | afterDiscountPrice:prd.discount |currency: "EGP ":"symbol"}}
              </span>

              <span class="text-success"> {{prd.discount*100}}% Off </span>
              <br />
              <span class="text-decoration-line-through fw-light"> {{prd.price|currency: "EGP ":"symbol"}} </span>
            </ng-template>
          </div>

          <div class="product-bottom-details">
            <ng-container [ngSwitch]="prd.quantity">
              <ng-container *ngSwitchCase="0"><span class="text-danger">Out Of stock</span> </ng-container>
              <ng-container *ngSwitchCase="1"> <span class="text-warning">Last item</span> </ng-container>
              <ng-container *ngSwitchCase="2"><span class="text-warning">Last two item</span></ng-container>
              <ng-container *ngSwitchDefault> <span class="mt-1">{{prd.quantity}} pieces</span></ng-container>
            </ng-container>
          </div>
        </div>
      </div>


    </div>
      
    </a>
  </div>

  <div class="page">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onDataChange($event)">
    </pagination-controls>
  </div>
</div>

<!-- <app-home-footer></app-home-footer> -->
