<app-home-header></app-home-header>

<div class="container-fluid overflow-hidden ">
  <div class="cartdiv">

    <div class="row ">
      <div class="col-lg-7 col-md-7  mt-4" style="margin-left: 50px;">

        <div id="cart">

          <div class="cart">
            <div class="header p-1" id="headercart">
              <h4>Cart</h4>
            </div>

            <div *ngFor="let product of LocalStorageProducts">
              <div class="row p-3">
                <div class="col-lg-2">
                  <img [src]="product.ImgURL" class="img-fluid">
                </div>
                <div class="col-lg-7">
                  <p>{{product.Name}}</p>
                  <p>{{product.Quantity}}</p>
                  <p>{{product.SellerName}}</p>

                  <button (click)="Remove(product.ID)">Remove</button>

                </div>



              </div>


            </div>
          </div>

        </div>

        <button class="btn btn-outline-primary mt-4 mb-4">continue Shopping</button>



        <app-wish-list></app-wish-list>
      </div>



      <div class="col-lg-4 col-md-4 mt-4 ">
        <app-order-summry></app-order-summry>
      </div>

    </div>
  </div>
